# Ignorar binários gerados
bin/
obj/

# Arquivos de build específicos do Visual Studio
.vs/
.vscode/

# Arquivos temporários do Visual Studio
.vsconfig
.idea/

# Dependências de pacotes NuGet
.nuget/
packages/

# Logs e arquivos temporários
*.log
*.vspscc
*.user
*.suo
*.userosscache
*.sln.docstates

# Arquivos de publicação
publish/

# Secrets do .NET
secrets.json
